.slide-bg1 {
    background:url(../images/home3.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.slide-bg2 {
    background:url(../images/home6.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.slide-bg3 {
    background:url(../images/home1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.slide-bg4 {
    background:url(../images/home2.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}